* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #292929;
}

/************************************************************************************
 *  TOP-LEVEL LAYOUT
 ************************************************************************************/

.main-container {
    margin: 4% 15% 15% 15%;
    padding: 0% 0% 0% 0%;
    overflow: scroll;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.title-content {
    grid-row: 1;
}

.table-of-contents {
    grid-row: 2;
}

@media only screen and (min-width: 900px) {
    .main-container {
        margin: 4% 15% 15% 20%;
        padding: 0% 4% 4% 8%;
    }

    .table-of-contents {
        top: 3em;
        left: 4em;
        width: 17%;
        z-index: 100;
        position: fixed;
        padding: 20px 20px 20px 0;
        border-radius: 8px;
        font-size: 90%;
        height: 88%;
    }
}

.body-content {
    grid-row: 3;
    line-height: 1.4;
}

/************************************************************************************
 *  TABLE OF CONTENTS STYLES
 ************************************************************************************/

#nav-links {
    height: 100%;
    max-height: 95%;
    overflow: visible;
}

.table-of-contents h3 {
    margin: 0 0 10px 20px;
    padding: 5px 0 15px 10px;
    border-bottom: 1px solid #ededed;
    display: inherit
}

.table-of-contents a {
    padding: 2px;
    width: 100%;
    display: inline-block;
    margin-top: 3px;
    color: #1e1e1e;
}

.table-of-contents .h2 {
    margin-left: 30px;
}

.table-of-contents .h3 {
    margin-left: 50px;
}

.table-of-contents .h4 {
    margin-left: 70px;
}

.table-of-contents .h5 {
    margin-left: 90px;
}

.table-of-contents .h6 {
    margin-left: 110px;
}

/************************************************************************************
 *  GRID STYLES
 ************************************************************************************/

[class*="row-"] {
    display: grid;
    column-gap: 2em;
    row-gap: 1em;
    justify-content: left;
    justify-items: left;
}

.row-1 { grid-template-columns: repeat(1, auto); }
.row-2 { grid-template-columns: repeat(2, auto); }
.row-3 { grid-template-columns: repeat(3, auto); }
.row-4 { grid-template-columns: repeat(4, auto); }
.row-5 { grid-template-columns: repeat(5, auto); }
.row-6 { grid-template-columns: repeat(6, auto); }

[class*="col"] {
    float: left;
    padding: none;
    margin: none;
}

[class*="col"]>* {
    margin-left: auto;
    margin-right: auto;
}

.col    { width: 100%;   }
.col-1  { width: 8.33%;  }
.col-2  { width: 16.66%; }
.col-3  { width: 25%;    }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%;    }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%;    }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }

/************************************************************************************
 *  TITLE STYLES
 ************************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 15px -1em;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
}

h1 {
    margin: 15px;
}

.section.h2 {
    margin-top: 2em;
    border-bottom: 1px solid #ededed;
}

.title-hoverlink {
    visibility: hidden;
    margin-right: 1em;
}

.section:hover .title-hoverlink {
    visibility: visible;
}

/************************************************************************************
 *  TABLE STYLES
 ************************************************************************************/

table {
    border-collapse: collapse;
}

tbody tr {
    border-top: 1px solid #f6f6f6;
}

​table tr {
    padding: 4px;
}

table th,
table td {
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
}

table th {
    color: #363636;
    /* color: #C9C9C9; */
}

table.paradigm th {
    font-variant: small-caps;
}

table.paradigm or::before {
    content: '';
    margin-right: 0px;
}

/************************************************************************************
 *  GRIDLIKE STYLES
 ************************************************************************************/

.gridlike {
    border-collapse: separate;
    border-spacing: 5px;
}

.gridlike td {
    width: 10px;
    border: none;
}

.gridlike th, .gridlike tr {
    border: none;
}

.gridlike tbody th {
    text-align: right;
}

.gridlike thead th {
    white-space: nowrap;
}

.gridlike thead th > div {
    transform: rotate(315deg);
    width: 10px;
}

div.dot {
    width: 10px;
    height: 10px;
    float: right;
    margin: 4px 2px 0px 0px;
    border-radius: 5px;
}

.yellow {
    background: #ffe119;
    opacity: 0.8;
}

.blue {
    background: #4363d8;
    opacity: 0.8;
}

/************************************************************************************
 *  EXAMPLE TRANSLATION STYLES
 ************************************************************************************/

table.gloss * {
    padding: 0px 10px 8px 0px;
    text-align: left;
    border: none;
}

table.gloss tr.morphemes {
    font-family: Arial, Helvetica, sans-serif;
}

table.gloss tr.gloss {
    font-size: 95%;
    color: #1e1e1e;
}

translation {
    margin: 0.5em;
}

trans {
    margin: 0px;
    display: block;
}

trans.ungrammatical::before {
    content: "*";
    margin-left: -8px;
    margin-right: 1px;
}

.translation-block {
    margin: 5px;
    padding: 5px;
    grid-gap: 10px;
}

.translation-block.stack {
    row-gap: 0px;
}

.translation-block.stack .translation-block {
    margin-top: 0px;
    padding-top: 0px;
}

.transgroup {
    margin: 1em;
    margin-bottom: -5px;
}

.translation-number {
    width: 40px;
    margin-right: 0.5em;
    table-layout: fixed;
    text-align: right;
}

.translation-block:not(.stack) .translation-group-number {
    margin-top: 5px;
    padding-top: 5px;
}

.translation-number a, a.ref {
    color: #1e1e1e;
}

/************************************************************************************
 *  TAG STYLES
 ************************************************************************************/

p, ul, ol {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #ba6913;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ededed;
    margin: 1em 0;
    padding: 0;
}

kbd {
    font-size: 120%;
    white-space: pre;
}

null {
    font-style: normal !important;
    padding: 0px !important;
}

null::before {
    content: "∅";
}

or {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

or::before {
    content: '*';
    margin-right: 1px;
}

figure {
    display: table;
    width: 1px;
    margin: 0px 1em;
}

img, figcaption {
    display: table-row;
}

figcaption {
    font-size: small;
    color: #959595;
}

figcaption a.ref {
    color: #959595;
}

/************************************************************************************
 *  FORMATTING STYLES
 ************************************************************************************/

.descriptor-list {
    margin: 1em;
    font-size: 90%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.squished {
    margin: 0px;
    padding: 0px;
    grid-gap: 0px;
}

.right-aside {
    float: right;
    margin: 10px;
}

.left-aside {
    float: left;
    margin: 10px;
}

.indent {
    margin-left: 2em;
}

.small {
    font-size: small;
}

.super-small {
    font-size: 75%;
}

.dot.super-small {
    width: 6px;
    height: 6px;
    float: right;
    margin: 3px 5px 0px 10px;
    border-radius: 3px;
}

.sc {
    font-variant: small-caps;
    padding: 0px !important;
    white-space: pre;
}

.bold {
    font-weight: bold;
}

.text-muted {
    color: #959595;
}

.descendant-suggestion {
    border: 1px solid #bcdff1;
    background: #e3f0f7;
    color: #1d546f;
    border-radius: 10px;
    padding: 0px 1em;
    margin: 10px 1em 10px 1em;
    display: block;
}