:root {
    --border-radius: 3px;
    --black: #353535;
    --highlight-color: #eca31b;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    margin-top: 1rem;
    line-height: 1.4em;
    text-indent: 1em;
}

p + p {
    margin-top: .5rem;
}

p:last-of-type {
    margin-bottom: 1rem;
}

dl {
    margin: 1rem;
    display: grid;
    grid-template-columns: min-content auto;
    align-items: baseline;
    gap: .5rem 1.5rem;
}

dt, dd {
    margin: 0;
}

dt {
    font-weight: bold;
}

body {
    --padding: 20px;
    max-width: calc(900px + 2 * var(--padding));
    margin: 40px auto;
    padding: 0 var(--padding);
    font-family: sans-serif;
    color: var(--black);
}

.section-header {
    margin: 2rem 0 1rem 0;
}

.section-header .title {
    font-size: 1.5rem;
    font-weight: bold;
    border-right: 2px solid #505050;
    padding-right: 16px;
    margin-right: 12px;
}

.body-list {
    border: 1px solid var(--black);
    border-radius: var(--border-radius);
}

.body-entry {
    position: relative;
    padding: .5rem .25rem;
    border-bottom: 1px solid var(--black);

    display: grid;
    grid-template-columns: min-content auto;
    column-gap: .5rem;
}

.body-entry > :first-child {
    padding: 4px;
    padding-right: 0;
    grid-row: 1 / 1000;
}

.input-row {
    padding: 2px 12px 2px 2px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: stretch;
    justify-content: start;
}

.input-row:not(.input-row:last-of-type) {
    margin-bottom: .5rem;
}

.input-row-label {
    padding: 3px .5rem 0 0;
    font-size: .9rem;
    font-weight: bold;
}

.input-row-label, .input-fields > *:not(:last-child)::after {
    content: "";
    border-right: 1px solid #505050;
    margin: 0 .5rem;
}

.input-fields {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: .5rem;
}

.input-pair {
    display: block;
}

.input-pair-label {
    margin-right: 4px;
    color: #505050;
    font-size: .9rem;
}

input {
    font-family: sans-serif;
    font-size: .95rem;
    padding: 2px 4px;
    background-color: inherit;
    border: 1px solid #d0d0d0;
    border-radius: var(--border-radius);
    /* Firefox, hide spin wheel on number inputs */
    -moz-appearance: textfield;
}

/* Hide spin wheel on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:disabled {
    background-color: #f5f5f5;
}

.units {
    margin-left: 2px;
    padding: 4px 1px 2px 1px;
    border-radius: var(--border-radius);
    color: var(--highlight-color);
    font-size: .85rem;
}

.units:hover {
    background-color: var(--highlight-color);
    color: white;
}

.body-entry .description {
    width: 100%;
    margin-top: .25rem;
    font-size: .9rem;
}

.description::after {
    display: none;
}

/* Stellar class colours from http://www.vendian.org/mncharity/dir3/starcolor/
   Some values are intermediates calculated from values given there. */
input[name="stellar-class"][data-value^="O"]  { background-color: #9db4ff; }
input[name="stellar-class"][data-value^="B0"] { background-color: #a0b7ff; }
input[name="stellar-class"][data-value^="B1"] { background-color: #a2b9ff; }
input[name="stellar-class"][data-value^="B2"] { background-color: #a5bbff; }
input[name="stellar-class"][data-value^="B3"] { background-color: #a7bcff; }
input[name="stellar-class"][data-value^="B4"] { background-color: #a9beff; }
input[name="stellar-class"][data-value^="B5"] { background-color: #aabfff; }
input[name="stellar-class"][data-value^="B6"] { background-color: #acc0ff; }
input[name="stellar-class"][data-value^="B7"] { background-color: #adc2ff; }
input[name="stellar-class"][data-value^="B8"] { background-color: #afc3ff; }
input[name="stellar-class"][data-value^="B9"] { background-color: #b3c6ff; }
input[name="stellar-class"][data-value^="A0"] { background-color: #b6c9ff; }
input[name="stellar-class"][data-value^="A1"] { background-color: #baccff; }
input[name="stellar-class"][data-value^="A2"] { background-color: #BDCFFF; }
input[name="stellar-class"][data-value^="A3"] { background-color: #c0d1ff; }
input[name="stellar-class"][data-value^="A4"] { background-color: #C5D5FF; }
input[name="stellar-class"][data-value^="A5"] { background-color: #cad8ff; }
input[name="stellar-class"][data-value^="A6"] { background-color: #cfdbff; }
input[name="stellar-class"][data-value^="A7"] { background-color: #d4deff; }
input[name="stellar-class"][data-value^="A8"] { background-color: #dae2ff; }
input[name="stellar-class"][data-value^="A9"] { background-color: #dfe5ff; }
input[name="stellar-class"][data-value^="F0"] { background-color: #e4e8ff; }
input[name="stellar-class"][data-value^="F1"] { background-color: #e9ebff; }
input[name="stellar-class"][data-value^="F2"] { background-color: #edeeff; }
input[name="stellar-class"][data-value^="F3"] { background-color: #f2f1ff; }
input[name="stellar-class"][data-value^="F4"] { background-color: #f6f5ff; }
input[name="stellar-class"][data-value^="F5"] { background-color: #fbf8ff; }
input[name="stellar-class"][data-value^="F6"] { background-color: #fcf8fd; }
input[name="stellar-class"][data-value^="F7"] { background-color: #fef9fb; }
input[name="stellar-class"][data-value^="F8"] { background-color: #fff9f9; }
input[name="stellar-class"][data-value^="F9"] { background-color: #fff8f6; }
input[name="stellar-class"][data-value^="G0"] { background-color: #fff7f3; }
input[name="stellar-class"][data-value^="G1"] { background-color: #fff6ef; }
input[name="stellar-class"][data-value^="G2"] { background-color: #fff5ec; }
input[name="stellar-class"][data-value^="G3"] { background-color: #fff5eb; }
input[name="stellar-class"][data-value^="G4"] { background-color: #fff4e9; }
input[name="stellar-class"][data-value^="G5"] { background-color: #fff4e8; }
input[name="stellar-class"][data-value^="G6"] { background-color: #fff3e5; }
input[name="stellar-class"][data-value^="G7"] { background-color: #fff2e2; }
input[name="stellar-class"][data-value^="G8"] { background-color: #fff1df; }
input[name="stellar-class"][data-value^="G9"] { background-color: #ffeed8; }
input[name="stellar-class"][data-value^="K0"] { background-color: #ffebd1; }
input[name="stellar-class"][data-value^="K1"] { background-color: #ffe6c8; }
input[name="stellar-class"][data-value^="K2"] { background-color: #ffe1c0; }
input[name="stellar-class"][data-value^="K3"] { background-color: #ffdcb7; }
input[name="stellar-class"][data-value^="K4"] { background-color: #ffd7ae; }
input[name="stellar-class"][data-value^="K5"] { background-color: #ffd1a4; }
input[name="stellar-class"][data-value^="K6"] { background-color: #ffcc9a; }
input[name="stellar-class"][data-value^="K7"] { background-color: #ffc690; }
input[name="stellar-class"][data-value^="K8"] { background-color: #ffc48d; }
input[name="stellar-class"][data-value^="K9"] { background-color: #ffc389; }
input[name="stellar-class"][data-value^="M0"] { background-color: #ffc186; }
input[name="stellar-class"][data-value^="M1"] { background-color: #ffc082; }
input[name="stellar-class"][data-value^="M2"] { background-color: #ffbe7f; }
input[name="stellar-class"][data-value^="M3"] { background-color: #ffbd7d; }
input[name="stellar-class"][data-value^="M"]  { background-color: #ffbb7b; }

.add-another {
    width: 100%;
    border: none;
    background-color: #f5f5f5;
    border-radius: var(--border-radius);
    height: 1.5rem;
    padding: calc((1.5rem - .85rem)/2) 0;
    text-align: center;
    font-size: .85rem;
}

.add-another:hover {
    background-color: var(--highlight-color);
}

.delete {
    position: absolute;
    top: 4px;
    right: 6px;
}

.delete:hover {
    color: #c73131;
    cursor: pointer;
}

.info {
    margin: 1rem 0 .5rem 0;
    padding: .5rem;
    border: 1px solid var(--black);
    border-radius: var(--border-radius);
}

.info.warning {
    border: 1px solid #e95151;
    background-color: #e9515140;
    color: #c73131;
}

.locked {
    background-color: #fafafa;
}

input.locked {
    pointer-events: none;
}

.units {
    border: none;
    background-color: inherit;
}

.units.locked {
    color: inherit;
}

.units.locked:hover {
    background-color: transparent;
}

.hidden {
    display: none;
}

#ruler {
    visibility: hidden;
    padding: 2px 4px;
    border: 1px solid black;
}