:root {
    --border-radius: 3px;
    --black: #353535;
    --highlight-color: #eca31b;
    --line-height: 1.4em;
}

* {
    box-sizing: border-box;
}

body {
    --padding: 20px;
    max-width: calc(900px + 2 * var(--padding));
    margin: 60px auto 140px auto;
    padding: 0 var(--padding);
    font-family: sans-serif;
    color: var(--black);
}

p {
    margin: 0;
    margin-top: 1rem;
    line-height: var(--line-height);
    text-indent: 1em;
    text-align: justify;
}

p + p {
    margin-top: .5rem;
}

p:last-of-type {
    margin-bottom: 1rem;
}

dl {
    margin: 1rem;
    line-height: var(--line-height);
    display: grid;
    grid-template-columns: min-content auto;
    align-items: baseline;
    gap: .5rem 1.5rem;
}

dl p {
    margin: 0;
}

dl p:first-of-type {
    text-indent: 0;
}

dt, dd {
    position: relative;
    margin: 0;
}

dt {
    font-weight: bold;
    white-space: nowrap;
}

body > button {
    width: 100%;
    margin: 1rem 20px 1rem 0;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub { 
    top: 0.4em; 
}

object[data$=".svg"] {
    width: 100%;
    margin-top: 1rem;
}

dl object[data$=".svg"], .side-panel {
    width: 50%;
    margin-left: 1rem;
    margin-bottom: .5rem;
    float: right;
}

.section-header {
    margin: 2rem 0;
}

.section-header .title {
    font-size: 1.5rem;
    font-weight: bold;
    border-right: 2px solid #505050;
    padding-right: 16px;
    margin-right: 12px;
}

.body-list {
    border: 1px solid var(--black);
    border-radius: var(--border-radius);
}

.body-entry {
    position: relative;
    padding: .5rem .25rem;
    border-bottom: 1px solid var(--black);

    display: grid;
    grid-template-columns: min-content auto;
    column-gap: .5rem;
}

.body-entry > :first-child {
    padding: 4px;
    padding-right: 0;
    grid-row: 1 / 1000;
}

.input-row {
    padding: 2px 12px 2px 2px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: stretch;
    justify-content: start;
}

.input-row:not(.input-row:last-of-type) {
    margin-bottom: .5rem;
}

.input-row-label {
    padding: 3px .5rem 0 0;
    font-size: .9rem;
    font-weight: bold;
}

.input-row-label, .input-fields > *:not(:last-child)::after {
    content: "";
    border-right: 1px solid #505050;
    margin: 0 .5rem;
}

.input-fields {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: .5rem;
}

.input-pair {
    display: block;
}

.input-pair-label {
    margin-right: 4px;
    color: #505050;
    font-size: .9rem;
}

input {
    font-family: sans-serif;
    font-size: .95rem;
    padding: 2px 4px;
    background-color: inherit;
    border: 1px solid #d0d0d0;
    border-radius: var(--border-radius);
}

input:disabled {
    background-color: #f5f5f5;
}

.units {
    margin-left: 2px;
    padding: 4px 1px 2px 1px;
    border-radius: var(--border-radius);
    color: var(--highlight-color);
    font-size: .85rem;
}

.units:hover {
    background-color: var(--highlight-color);
    color: white;
}

.body-entry .description {
    width: 100%;
    margin-top: .25rem;
    font-size: .9rem;
}

.description::after {
    display: none;
}

.add-another {
    width: 100%;
    border: none;
    background-color: #f5f5f5;
    border-radius: var(--border-radius);
    height: 1.5rem;
    padding: calc((1.5rem - .85rem)/2) 0;
    text-align: center;
    font-size: .85rem;
}

.add-another:hover {
    background-color: var(--highlight-color);
}

.delete {
    position: absolute;
    top: 4px;
    right: 6px;
}

.delete:hover {
    color: #c73131;
    cursor: pointer;
}

.info {
    margin: .5rem 0;
    padding: .5rem;
    border: 1px solid var(--black);
    border-radius: var(--border-radius);
}

.section-header + .info {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.alert {
    border: 1px solid #e9b951;
    background-color: #e9c15140;
    color: #c79231;
}

.warning {
    border: 1px solid #e95151;
    background-color: #e9515140;
    color: #c73131;
}

.description.warning {
    margin-bottom: 0;
}

.locked {
    background-color: #fafafa;
}

input.locked {
    pointer-events: none;
}

.units {
    border: none;
    background-color: inherit;
}

.units.locked {
    color: inherit;
}

.units.locked:hover {
    background-color: transparent;
}

.hidden {
    display: none;
}

#ruler {
    visibility: hidden;
    padding: 2px 4px;
    border: 1px solid black;
}

#atmosphere {
    display: grid;
    grid-template-columns: min-content 6fr minmax(143px, 3fr) 3fr;
    gap: .5rem;
    align-items: baseline;
    padding: .5rem;
    margin-left: 1.5rem;

    border: 1px solid var(--black);
    border-radius: var(--border-radius);
    font-size: .9rem;
}

#atmosphere > :nth-child(2),
#atmosphere > :nth-child(3),
#atmosphere > :nth-child(4) {
    font-weight: bold;
}

#atmosphere .add-another {
    grid-column: 1 / -1;
    border: 1px solid var(--black);
}

#atmosphere .delete {
    position: relative;
    top: -1px;
    right: -1px;
    align-self: center;
}

#atmosphere .input-pair {
    display: inline-flex;
    flex-direction: row;
}

#atmosphere input {
    width: 100%;
    font-size: .85rem;
    padding: 4px;
}

#atmosphere .total {
    font-weight: bold;
    text-align: right;
}

#atmosphere .info {
    grid-column: 1 / -1;
    margin: 0;
}